.body{
    background-color: #dddddd;
}
.main{
    background-color: white;
    /*margin: 30px;*/
    margin-top: 50px;
    margin-left: 180px;
    margin-right: 180px
}

.btn-publish{
    float: right;
    margin-top: 1px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}

.profile.section{
    margin: 20px;
}

.community-menu{
    font-size: 13px;
    color: #999999;
}

.jumbotron{
    margin: 50px;
}