.body{
    background-color: darkgrey;
}
.main{
    background-color: white;
    margin: 30px;
    /*margin-bottom: 30px;*/
    /*margin-left: 60px;*/
    /*margin-right: 60px*/
}

.btn-publish{
    float: right;
    margin-top: 1px;
}

.text-desc{
    font-size: 12px;
    font-weight: normal;
    color: #999999;
}